<h1>id:<%= @task.id %> のタスク詳細ページ</h1>


<table class="table table-bordered">
  <tr>
    <th class="col-xs-1 text-center">ID</th>
    <td class="col-xs-5"><%= @task.id %></td>
  </tr>
  <tr>
    <th class="col-xs-1 text-center">タスク内容</th>
    <td class="col-xs-5"><%= @task.content %></td>
  </tr>
  <tr>
    <th class="col-xs-1 text-center">ステータス</th>
    <td class="col-xs-5"><%= @task.status %></td>
  </tr>
</table>

<%= link_to '一覧に戻る', root_path, class: "btn btn-primary btn-sm" %>
<%= link_to 'タスクを編集する', edit_task_path, class: "btn btn-warning btn-sm" %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger btn-sm" %>